$primary-font-color: #212121;
$secondary-font-color: #757575;
$accent-color: #2196f3;
$bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;

$primary-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
