<div class="clock-container">
  <div class="clock" id="clock">
    <div class="field">
      <span class="value" data-value="hours">11</span>
      <span class="label">:</span>
    </div>

    <div class="field">
      <span class="value" data-value="mins">11</span>
      <span class="label">:</span>
    </div>

    <div class="field">
      <span class="value" data-value="secs">11</span>
      <!-- <span class="label">:</span> -->
    </div>
  </div>
</div>

<div class="clock-container" id="clock"></div>
