<!-- //сетки разных размеров // xs sm md lg -->
<div class="card bg-dark text-white">
  <img src="images/demo.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title ">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>

<h1>Small<small>small</small></h1>
<div class="row" id="about">
  <div class="col-md-6 col-sm-12" style="background-color: tomato; height: 150px;">
    <div class="row">
      <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" style="background-color: #fff;">1,1</div>
      <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" style="background-color: #5a5a5a;">1,2</div>
    </div>
      <!-- Pierwszy ę
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quaerat? -->
  </div>
    <div class="col-md-6 col-sm-12" style="background-color: purple; height: 150px;">
      Drugi ą
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo odit quis in molestias earum. Hic ullam vel velit aspernatur consequatur impedit, ipsa accusamus quidem, rem ad officia modi. Error odit dolor vitae quasi, pariatur quo temporibus repudiandae suscipit fugit est.
    </div>
    <div class="col-md-6 col-sm-12" style="background-color: orange; height: 150px;">
      Trzeci
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit eum possimus id illum error animi nisi, quo eveniet praesentium commodi non maxime atque quia consectetur inventore mollitia incidunt! Itaque, dignissimos recusandae! Molestias aliquid fuga fugiat quo ea atque adipisci. Natus, nam eveniet consectetur quos sint nisi quasi saepe nesciunt, numquam explicabo ipsa qui adipisci, amet quibusdam alias mollitia quod tenetur dignissimos aperiam vel laborum excepturi. Ut quasi deserunt distinctio error dignissimos? Non rem suscipit veritatis aliquam fugit, itaque ipsa reprehenderit.
    </div>
    <div class="col-md-6 col-sm-12" style="background-color: teal; height: 150px;">Cwarty</div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Sign in</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <input type="mail" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <input type="password" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
