<!-- Секция с характеристиками -->
<div class="container-fluid">
  <div class="row text-center alert">
    <div class="col-12 app-title">
      <h1 class="display-4">App creating</h1>
    </div>
    <hr />
    <div class="col-12">
      <p class="lead">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis iusto non iste, numquam
        ex eum beatae quos laboriosam nihil vero qui! Animi, dolore mollitia? Blanditiis, magni
        explicabo omnis impedit voluptate ea necessitatibus ullam nisi beatae voluptas nihil
        similique libero officiis odio quis consectetur rem minus in vero, obcaecati incidunt
        itaque. Doloribus libero sequi asperiores, pariatur ipsum vitae eos labore nam?
      </p>
    </div>
  </div>
</div>

<!-- Секция/Блок с блоками -->
<div class="container-fluid">
  <!-- центрируем текст text-center (Center aligned text on all viewport sizes.)-->
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img class="block-img" src="images/examle-logo.png" alt="" />
      <h3>HTML5</h3>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz
      </p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img class="block-img" src="images/examle-logo.png" alt="" />
      <h3>HTML5</h3>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <img class="block-img" src="images/examle-logo.png" alt="" />
      <h3>SASS</h3>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
        Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem
        próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając
        praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy
        Letrasetu, zawierających fragmenty Lorem Ipsum.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <img class="block-img" src="images/examle-logo.png" alt="" />
      <h3>JavaScript</h3>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
        Został po raz pierwszy użyty w XV w.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <img class="block-img" src="images/examle-logo.png" alt="" />
      <h3>React</h3>
      <p>
        Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym.
        Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem
        próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając
        praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy
        Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem
        Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak
        Aldus PageMaker
      </p>
    </div>
  </div>
</div>

<!-- Секция 4 -->
<div class="container-fluid jumbotron">
  <div class="row default-cont">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 col-xl-10">
      <p class="lead">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat ad temporibus
        reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus in non,
        earum vel possimus veritatis ipsa labore quisquam cum repellendus repudiandae velit,
        consequatur minima laboriosam illum animi rerum quis ipsum.
      </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 col-xl-2">
      <a href="#">
        <button type="button" class="btn btn-success btn-lg">Read more</button>
      </a>
    </div>
  </div>
</div>
<hr class="my-4" />

<!-- Простая секция с изображением -->
<div class="container-fluid padding">
  <div class="row padding">
    <!-- offset-lg-2 это отступ от начала в 2 колонки -->
    <div class="offset-lg-2 col-lg-4">
      <h2>Very interesting topic</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, earum qui. Illo
        molestias laudantium cum expedita sint repellendus obcaecati quas aut tempora pariatur
        incidunt, quae reprehenderit repudiandae nam ipsam! Eveniet!
        <br /><br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, earum qui. Illo
        molestias laudantium cum expedita sint repellendus obcaecati quas aut tempora pariatur
        incidunt, quae reprehenderit repudiandae nam ipsam! Eveniet!
        <br /><br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, earum qui. Illo
        molestias laudantium cum expedita sint repellendus obcaecati quas aut tempora pariatur
        incidunt, quae reprehenderit repudiandae nam ipsam! Eveniet!
        <br />
        <a href="#" class="btn btn-danger">Cool button</a>
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="https://cdn.pixabay.com/photo/2019/05/14/22/05/container-4203677__340.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</div>
