<!-- Секция с фиксированным изображением -->
<figure>
  <div class="fixed-wrap">
    <div id="fixed"></div>
  </div>
</figure>

<!-- Закрытая секция -->
<!-- data-toggle="collapse" указывает, что кнопка что-то открывает 
     data-target="#" указывает что именно открывает, элемент с id-->
<div class="text-center padding">
  <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#gifs">
    Open section
  </button>
</div>
<div class="collapse" id="gifs">
  <!-- в диве class="collapse" указывает, что мы можем закрыть это окно -->
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-sm-6 col-md-3">
        <img
          class="block-img"
          src="https://cdn.pixabay.com/photo/2019/05/14/16/43/himilayan-blue-poppy-4202825__340.jpg"
          alt=""
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          class="block-img"
          src="https://cdn.pixabay.com/photo/2019/05/16/09/47/beach-4206785__340.jpg"
          alt=""
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          class="block-img"
          src="https://cdn.pixabay.com/photo/2016/11/18/16/19/flowers-1835619__340.jpg"
          alt=""
        />
      </div>
      <div class="col-sm-6 col-md-3">
        <img
          class="block-img"
          src="https://cdn.pixabay.com/photo/2018/09/13/10/36/mountains-3674334__340.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
